@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


input[type="text"],
input[type="email"],
input[type="password"]{
    @apply w-full border border-gray-500 my-1 py-2 px-3 rounded-2xl;
}

button.primary{
    background-color:#FF2C2C;
    @apply p-2 w-full text-white rounded-2xl;
}